
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(195, 195, 243);

}
.max-width {
  max-width: 800px;
  width: 100vw;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: rgb(131, 36, 36);
  box-shadow: 0 0 5px rgb(173, 104, 104);
  text-align: center;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 20px;
  background-color: beige;
}
button{
  padding: 5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  transition: all .5s;
  cursor: pointer;
  border-radius: 25px;

}
button:hover{
  background-color: aliceblue;
}
.bg-green{
  background-color: rgb(161, 230, 106);
}
.bg-yellow{
  background-color: rgb(238, 238, 89);
}
.bg-red{
  background-color: rgb(204, 77, 27);
}
